.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(22,124,44);
    background: linear-gradient(117deg, rgba(22,124,44,1) 19%, rgba(33,157,182,1) 100%);
    overflow-y: scroll;
}
.lottie{
    height:400px;
}

.register input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.784);
    color: rgba(255, 255, 255, 0.568);
}
.password  {
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.784);
    color: rgba(255, 255, 255, 0.568);
}

input:focus{
   outline: none !important;
   box-shadow: none !important;
   border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;
}
.password:focus{
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.784) !important;
}


label , a{
    color: rgba(255, 255, 255, 0.536) !important;
}

.register h1{
    font-size: 35px;
    color: white;
    font-weight: 600;
}